{% extends "extends/admin.html"%}
{% block head %}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css" rel="stylesheet">
<link href="/static/datatables.css" rel="stylesheet">
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script>
    function deleteLocation(id, name){
        Swal.fire({
            title: `Are you sure you want to delete ${name} ?`,
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            showLoaderOnConfirm: true,
            showLoaderOnConfirm: true,
            preConfirm: (login) => {
              return $.ajax({
                url: "/api/admin/location/delete/" + id,
                type: "DELETE",
                success: function(respdata) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Deleted Location'
                    })
                    setTimeout(function(){
                        window.location.reload();
                    }, 2000);
                },
                error: function(xhr, ajaxOptions, thrownError){
                    Swal.fire({
                        icon: 'error',
                        title: 'An error occurred',
                        text: `Code: ${xhr.status} Message: ${xhr.responseText}`,
                    })
                }     
            });
            },
            allowOutsideClick: () => !Swal.isLoading()
          }).then((result) => {
            if (result.isConfirmed) {
              Swal.fire({
                title: `${result.value.login}'s avatar`,
                imageUrl: result.value.avatar_url
              })
            }
          })

    }

</script>

{% endblock %}

{% block main %}

<div class="flex flex-row-reverse">
    <a href="{{ url_for('admin_locations_create_get') }}">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><i class="fas fa-plus-square mr-1"></i>Add Location</button>
    </a>
</div>
<div class="w-full lg:w-full my-6 pr-2 bg-kittenpanel-dark-secondary p-5 rounded text-white">    
    <table id="users" class="stripe hover" style="width:100%; padding-top: 1em;  padding-bottom: 1em;">
        <thead>
            <tr>
                <th data-priority="1">Display Name</th>
                <th data-priority="2">Pterodactyl ID</th>
                <th data-priority="3">Allowed Eggs</th>
                <th data-priority="4">Allowed Plans</th>
                <th data-priority="5">Actions</th>
            </tr>
        </thead>
        <tbody class="text-black">
            {% for location in locations %}
            <tr>
                <td>{{ location['name'] }}</td>
                <td>{{ location['pterodactyl'] }}</td>
                <td>{{ "Any Egg" if not location['types'] else location['types'] }}</td>
                <td>{{ "Any Plans" if not location['plans'] else location['plans'] }}</td>
                <td>
                    <button onclick="deleteLocation('{{ location["_id"] }}', '{{ location["name"] }}')" class="bg-red-600 hover:bg-red-800 p-2 rounded w-10 h-10 m-1"><i class="fas fa-trash-alt text-white"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>
<script>
    $(document).ready(function() {

        var table = $('#users').DataTable( {
                responsive: true
            })
            .columns.adjust()
            .responsive.recalc();
    });
</script>
{% endblock %}