{% extends "extends/admin.html"%}
{% block head %}
<script>
    function handleSwitchShop(cb, shop_id, display_name) {
        var shop = document.getElementById(shop_id + "-shop-label");
        shop.innerHTML = cb.checked ? display_name + " Shop Enabled" : display_name + " Shop Disabled";
        var shop_div = document.getElementById(shop_id + "-shop-options");
        shop_div.style.display = cb.checked ? "block" : "none";
    }
    function handlePriceing(value, id, display_name) {
        var price = document.getElementById(id + "-price-label");
        price.innerHTML = display_name + " Price: " + value;
    }
    function handleSwitchServer(cb, server_id, display_name) {
        var server = document.getElementById(server_id);
        server.innerHTML = cb.checked ? display_name + " Enabled" : display_name + " Disabled";
    }
    function handleSwitchUser(cb, user_id, display_name) {
        var user = document.getElementById(user_id);
        user.innerHTML = cb.checked ? display_name + " Enabled" : display_name + " Disabled";
    }
    function handlePromoSwitch(cb, promo_id, display_name) {
        var promo = document.getElementById(promo_id);
        promo.innerHTML = cb.checked ? display_name + " Enabled" : display_name + " Disabled";
    }
    function submitUser() {
        var user_creation = document.getElementById("user-creation-checkbox");
        $.ajax({
            url: "{{ url_for('admin_api_config_user_post') }}",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                "user_creation": user_creation.checked
            }),
            success: function(data) {
                Swal.fire({
                    icon: 'success',
                    title: 'Saved Configuration'
                })
            },
            error: function(xhr, ajaxOptions, thrownError){
                Swal.fire({
                    icon: 'error',
                    title: 'An error occurred',
                    text: `Code: ${xhr.status} Message: ${xhr.responseText}`,
                })
            }     
        });
    }
    function submitServer() {
        var server_creation = document.getElementById("server-creation-checkbox");
        var server_deletion = document.getElementById("server-deletion-checkbox");
        var server_editing = document.getElementById("server-editing-checkbox");


        $.ajax({
            url: "{{ url_for('admin_api_config_server_post') }}",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({
                "server_creation": server_creation.checked,
                "server_deletion": server_deletion.checked,
                "server_editing": server_editing.checked,
            }),
            success: function(data) {
                Swal.fire({
                    icon: 'success',
                    title: 'Saved Configuration'
                })
            },
            error: function(xhr, ajaxOptions, thrownError){
                Swal.fire({
                    icon: 'error',
                    title: 'An error occurred',
                    text: `Code: ${xhr.status} Message: ${xhr.responseText}`,
                })
            }     
        });
    }
    function submitShop() {
        var shop_cpu = document.getElementById("cpu-checkbox");
        var shop_cpu_price = document.getElementById("shop-cpu-price");
        var shop_cpu_min = document.getElementById("shop-cpu-min");

        var shop_ram = document.getElementById("ram-checkbox");
        var shop_ram_price = document.getElementById("shop-ram-price");
        var shop_ram_min = document.getElementById("shop-ram-min");

        var shop_hdd = document.getElementById("disk-checkbox");
        var shop_hdd_price = document.getElementById("shop-hdd-price");
        var shop_hdd_min = document.getElementById("shop-hdd-min");

        var shop_backups = document.getElementById("backups-checkbox");
        var shop_backups_price = document.getElementById("shop-backups-price");

        var shop_port = document.getElementById("port-checkbox");
        var shop_port_price = document.getElementById("shop-port-price");

        var shop_database = document.getElementById("databases-checkbox");
        var shop_database_price = document.getElementById("shop-database-price");
        
        var shop_slots = document.getElementById("slots-checkbox");
        var shop_slots_price = document.getElementById("shop-slots-price");

        var promo_code = document.getElementById("promo-checkbox");

        data = {
            "shop_cpu": shop_cpu.checked,
            "shop_ram": shop_ram.checked,
            "shop_hdd": shop_hdd.checked,
            "shop_backups": shop_backups.checked,
            "shop_port": shop_port.checked,
            "shop_database": shop_database.checked,
            "shop_slots": shop_slots.checked,
            "promo_code": promo_code.checked,
        }

        if (shop_cpu.checked) {
            if (shop_cpu_price.value == "" || shop_cpu_min.value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'An validation error occurred',
                    text: 'Please fill out all cpu fields',
                })
                return;
            } else {
                data["shop_cpu_price"] = shop_cpu_price.value;
                data["shop_cpu_min"] = shop_cpu_min.value;
            }
        }

        if (shop_ram.checked) {
            if (shop_ram_price.value == "" || shop_ram_min.value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'An validation error occurred',
                    text: 'Please fill out all ram fields',
                })
                return;
            } else {
                data["shop_ram_price"] = shop_ram_price.value;
                data["shop_ram_min"] = shop_ram_min.value;
            }
        }

        if (shop_hdd.checked) {
            if (shop_hdd_price.value == "" || shop_hdd_min.value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'An validation error occurred',
                    text: 'Please fill out all hdd fields',
                })
                return;
            } else {
                data["shop_hdd_price"] = shop_hdd_price.value;
                data["shop_hdd_min"] = shop_hdd_min.value;
            }
        }

        if (shop_backups.checked) {
            if (shop_backups_price.value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'An validation error occurred',
                    text: 'Please fill out all backups fields',
                })
                return;
            } else {
                data["shop_backups_price"] = shop_backups_price.value;
            }
        }

        if (shop_port.checked) {
            if (shop_port_price.value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'An validation error occurred',
                    text: 'Please fill out all port fields',
                })
                return;
            } else {
                data["shop_port_price"] = shop_port_price.value;
            }
        }

        if (shop_database.checked) {
            if (shop_database_price.value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'An validation error occurred',
                    text: 'Please fill out all database fields',
                })
                return;
            } else {
                data["shop_database_price"] = shop_database_price.value;
            }
        }

        if (shop_slots.checked) {
            if (shop_slots_price.value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'An validation error occurred',
                    text: 'Please fill out all slots fields',
                })
                return;
            } else {
                data["shop_slots_price"] = shop_slots_price.value;
            }
        }

        $.ajax({
            url: "{{ url_for('admin_api_config_shop_post') }}",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(data),
            success: function(respdata) {
                Swal.fire({
                    icon: 'success',
                    title: 'Saved Configuration'
                })
            },
            error: function(xhr, ajaxOptions, thrownError){
                Swal.fire({
                    icon: 'error',
                    title: 'An error occurred',
                    text: `Code: ${xhr.status} Message: ${xhr.responseText}`,
                })
            }     
        });
    }
</script>
{% endblock %}

{% block main %}
<div class="w-full lg:w-full my-6 pr-2">
    <p class="text-xl text-white pb-2 flex items-center">
        Config
    </p>
    <div class="p-5 bg-kittenpanel-dark-secondary rounded shadow-xl">
        <div class="w-full lg:w-full" id="shop-div">
            <div class="p-5 bg-gray-900 rounded shadow-xl">
                <div class="flex flex-row-reverse">
                    <button onclick="submitShop()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><i class="fas fa-save mr-1"></i>Save Shop Config</button>
                </div>
                <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="cpu-checkbox" onclick='handleSwitchShop(this, "cpu", "CPU");' class="sr-only" {{ 'checked' if config['shop']['cpu']['enabled'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="cpu-shop-label">
                                    CPU Shop {{ 'Enabled' if config['shop']['cpu']['enabled'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                        <div id="cpu-shop-options" style="{{ 'display: block;' if config['shop']['cpu']['enabled'] else 'display: none;' }}">
                            <div class="mt-2">
                                <label class="block text-sm text-white">How many coins for 1% CPU</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-cpu-price" type="number" value="{{ config['shop']['cpu']['price'] if config['shop']['cpu']['price'] }}">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm text-white">Minimum CPU Purchase ( % )</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-cpu-min" type="number" value="{{ config['shop']['cpu']['min'] if config['shop']['cpu']['min'] }}">
                            </div>
                        </div>
                    </div>


                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="ram-checkbox"  onclick='handleSwitchShop(this, "ram", "RAM");' class="sr-only" {{ 'checked' if config['shop']['ram']['enabled'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="ram-shop-label">
                                    RAM Shop {{ 'Enabled' if config['shop']['ram']['enabled'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                        <div id="ram-shop-options" style="{{ 'display: block;' if config['shop']['ram']['enabled'] else 'display: none;' }}">
                            <div class="mt-2">
                                <label class="block text-sm text-white" >How many coins for 1MB Ram</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-ram-price" type="number" value="{{ config['shop']['ram']['price'] if config['shop']['ram']['price'] }}">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm text-white" >Minimum RAM Purchase ( mb )</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-ram-min" type="number" value="{{ config['shop']['ram']['min'] if config['shop']['ram']['min'] }}">
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="disk-checkbox" onclick='handleSwitchShop(this, "disk", "Disk");' class="sr-only" {{ 'checked' if config['shop']['disk']['enabled'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="disk-shop-label">
                                    Disk Shop {{ 'Enabled' if config['shop']['disk']['enabled'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                        <div id="disk-shop-options" style="{{ 'display: block;' if config['shop']['disk']['enabled'] else 'display: none;' }}">
                            <div class="mt-2">
                                <label class="block text-sm text-white" >How many coins for 1MB Disk</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-hdd-price" type="number" value="{{ config['shop']['disk']['price'] if config['shop']['disk']['price'] }}">
                            </div>
                            <div class="mt-2">
                                <label class="block text-sm text-white" >Minimum Disk Purchase ( MB )</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-hdd-min" type="number" value="{{ config['shop']['disk']['min'] if config['shop']['disk']['min'] }}">
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="backups-checkbox" onclick='handleSwitchShop(this, "backups", "Backups");' class="sr-only" {{ 'checked' if config['shop']['backups']['enabled'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="backups-shop-label">
                                    Backups Shop {{ 'Enabled' if config['shop']['backups']['enabled'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                        <div id="backups-shop-options" style="{{ 'display: block;' if config['shop']['backups']['enabled'] else 'display: none;' }}">
                            <div class="mt-2">
                                <label class="block text-sm text-white" >How many coins for 1 Backup</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-backups-price" type="number" value="{{ config['shop']['backups']['price'] if config['shop']['backups']['price'] }}">
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="port-checkbox" onclick='handleSwitchShop(this, "ports", "Extra Ports");' class="sr-only" {{ 'checked' if config['shop']['ports']['enabled'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="ports-shop-label">
                                    Extra Ports Shop {{ 'Enabled' if config['shop']['ports']['enabled'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                        <div id="ports-shop-options" style="{{ 'display: block;' if config['shop']['ports']['enabled'] else 'display: none;' }}">
                            <div class="mt-2">
                                <label class="block text-sm text-white" >How many coins for 1 Extra Port</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-port-price" type="number" value="{{ config['shop']['ports']['price'] if config['shop']['ports']['price'] }}">
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="databases-checkbox" onclick='handleSwitchShop(this, "database", "Databases");' class="sr-only" {{ 'checked' if config['shop']['databases']['enabled'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="database-shop-label">
                                    Databases Shop {{ 'Enabled' if config['shop']['databases']['enabled'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                        <div id="database-shop-options" style="{{ 'display: block;' if config['shop']['databases']['enabled'] else 'display: none;' }}">
                            <div class="mt-2">
                                <label class="block text-sm text-white" >How many coins for 1 Databases</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-database-price" type="number" value="{{ config['shop']['databases']['price'] if config['shop']['databases']['price'] }}">
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="slots-checkbox" onclick='handleSwitchShop(this, "slots", "Server Slots");' class="sr-only" {{ 'checked' if config['shop']['servers']['enabled'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="slots-shop-label">
                                    Server Slots Shop {{ 'Enabled' if config['shop']['servers']['enabled'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                        <div id="slots-shop-options" style="{{ 'display: block;' if config['shop']['servers']['enabled'] else 'display: none;' }}">
                            <div class="mt-2">
                                <label class="block text-sm text-white" >How many coins for 1 Server Slot</label>
                                <input class="w-full px-5 py-3 text-white bg-gray-700 rounded" id="shop-slots-price" type="number" value="{{ config['shop']['servers']['price'] if config['shop']['servers']['price'] }}">
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="promo-checkbox" onclick='handlePromoSwitch(this, "promocode-label", "Promo Codes");' class="sr-only" {{ 'checked' if config['codes'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="promocode-label">
                                    Promo Codes {{ 'Enabled' if config['codes'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="w-full lg:w-full mt-5" id="server-div">
            <div class="p-5 bg-gray-900 rounded shadow-xl">
                <div class="flex flex-row-reverse">
                    <button onclick="submitServer()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><i class="fas fa-save mr-1"></i>Save Server Config</button>
                </div>
                <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="server-creation-checkbox" onclick='handleSwitchServer(this, "server-creation", "Server Creation");' class="sr-only" {{ 'checked' if config['server']['creation'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="server-creation">
                                    Server Creation {{ 'Enabled' if config['server']['creation'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                    </div>


                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="server-deletion-checkbox" onclick='handleSwitchServer(this, "server-deletion", "Server Deletion");' class="sr-only" {{ 'checked' if config['server']['deletion'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="server-deletion">
                                    Server Deletion {{ 'Enabled' if config['server']['deletion'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                    </div>

                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="server-editing-checkbox" onclick='handleSwitchServer(this, "server-editing", "Server Editing");' class="sr-only" {{ 'checked' if config['server']['update'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="server-editing">
                                    Server Editing {{ 'Enabled' if config['server']['update'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="w-full lg:w-full mt-5" id="server-div">
            <div class="p-5 bg-gray-900 rounded shadow-xl">
                <div class="flex flex-row-reverse">
                    <button onclick="submitUser()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><i class="fas fa-save mr-1"></i>Save User Config</button>
                </div>
                <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
                    <div class="flex flex-col items-center justify-start w-full mb-12">
                        <div>
                            <label class="flex mt-5 items-center cursor-pointer">
                                <div class="relative">
                                    <input type="checkbox" id="user-creation-checkbox" onclick='handleSwitchUser(this, "user-creation", "User Creation");' class="sr-only" {{ 'checked' if config['user']['creation'] }}>
                                    <div class="block bg-gray-600 w-14 h-8 rounded-full"></div>
                                    <div class="dot absolute left-1 top-1 bg-white w-6 h-6 rounded-full transition"></div>
                                </div>
                                <div class="ml-3 text-white font-medium" id="user-creation">
                                    User Creation {{ 'Enabled' if config['user']['creation'] else 'Disabled' }}
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
