{% extends "extends/base.html"%}
{% block head %}
{% endblock %}

{% block main %}

<div class="bg-white flex flex-col rounded">
    {% if servers|length != 0 %}
    <table class="min-w-full bg-white">
        <thead class="bg-gray-800 text-white">
            <tr>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Server Name</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Ram</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Disk</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Cpu</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Databases</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Extra Ports</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Backups</th>
                <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Actions</th>
            </tr>
        </thead>
        <tbody class="text-white bg-kittenpanel-dark-secondary">
            {% for server in servers %}
            <tr>
                <td class="text-left py-3 px-4">{{ server['attributes']['name'] }}</td>
                <td class="text-left py-3 px-4">{{ server['attributes']['limits']['memory'] }}</td>
                <td class="text-left py-3 px-4">{{ server['attributes']['limits']['disk'] }}</td>
                <td class="text-left py-3 px-4">{{ server['attributes']['limits']['cpu'] }}</td>
                <td class="text-left py-3 px-4">{{ server['attributes']['feature_limits']['databases'] }}</td>
                <td class="text-left py-3 px-4">{{ server['attributes']['feature_limits']['allocations'] - 1 if server['attributes']['feature_limits']['allocations'] != 0 else server['attributes']['feature_limits']['allocations'] }}</td>
                <td class="text-left py-3 px-4">{{ server['attributes']['feature_limits']['backups'] }}</td>
                <td class="w-1/4 text-left py-3 px-4">
                    <button class="bg-red-600 p-2 rounded w-10 h-10 m-1"><i class="fas fa-trash text-white"></i></button>
                    <a href="/server/edit/{{ server['attributes']['identifier'] }}">
                        <button class="bg-blue-600 p-2 rounded w-10 h-10 m-1"><i class="fas fa-edit text-white"></i></button>
                    </a>
                    <a href="{{ panel }}server/{{ server['attributes']['identifier'] }}">
                        <button class="bg-gray-600 p-2 rounded w-10 h-10 m-1"><i class="fas fa-external-link-alt text-white"></i></button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="flex flex-col">
        <span class="text-center">You do not have any servers.</span>
    </div>
    {% endif %}
</div>
{% endblock %}
